<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
{% include "navigation.html" %}
<div class="accounts">Edit profile info:
    <form action="/u/about/{{ username }}" method="POST">
        <br>
        <label>
            <textarea id="textbox" name="about" rows="10" cols="40"></textarea>
        </label>
        <br>
        <input type="submit" value="Apply">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>
</div>
</body>
</html>