<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin panel2</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
{% include "navigation.html" %}
<div style="padding: 5%">
    <form action="/admin2" method="POST">
        <button type="submit" style="margin-left: 20px">View all pastes</button>
    </form>
    <h1>Admin panel</h1>
    <table id="data" class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>Message</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr>
                <td>{{ contact.id }}</td>
                <td>{{ contact.email }}</td>
                <td>{{ contact.message }}</td>
                <td><a href="/admin2/delete/{{ contact.id }}">Delete</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>
<script>
    $(document).ready(function () {
        $('#data').DataTable();
    });
</script>
</body>
</html>