<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confirm reading</title>
</head>
<body>
{% include "navigation.html" %}
You are about to open "burn after read" paste. After opening the paste, it will be removed from our servers and cannot
be opened again. If it contains important information, you should probably save it to your device before closing the
page.
<br><br>
Do you want to proceed?
<br><br>
<form action="/burn/{{ paste_id }}">
    <button type="submit">Yes</button>
</form>
<form action="/">
    <button type="submit">No</button>
</form>
</body>
</html>