<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PasteBag</title>
    <script type="text/javascript" src="/static/check.js"></script>
</head>
<body>
{% include "navigation.html" %}
<form action="/" method="POST" onsubmit="return check(this)">
    Create your paste:
    <br><br>
    <label>
        <textarea name="paste" rows="30" cols="50"></textarea>
    </label>
    <br><br>
    Paste visibility:
    <label>
        <input type="radio" name="visibility" value="Public" checked>
    </label> Public
    <label>
        <input type="radio" name="visibility" value="Private">
    </label> Private
    <br><br>
    <label>
        <input type="checkbox" name="burn">
    </label> Burn after read
    <br><br>
    <input type="submit" value="Create">
</form>
<br><br><br><br>
Most viewed pastes:<br>
{% for paste in pastes %}
    Views: {{ paste.views }}
    <a href="/{{ paste.pasteid }}">{{ paste.title }}</a>
    <br>
{% endfor %}
</body>
</html>