<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PasteBag</title>
</head>
<body>
{% if session.username %}
    You are logged in as {{ session.username }} |
    <a href="/logout">Log out</a>
{% else %}
    <a href="/login">Log in</a>
{% endif %}
<hr>
<form action="/" method="POST" onsubmit="return check(this)">
    Create your paste:
    <br>
    <label>
        <textarea name="paste" rows="30" cols="50"></textarea>
    </label>
    <br>
    <input type="submit" value="Create">
</form>
<script>
    function check(form) {
        if (form.paste.value.length === 0) {
            alert("Paste cannot be empty!");
            return false;
        }
        return true;
    }
</script>
<br><br><br><br>
Most viewed pastes:<br>
{% for paste in pastes %}
    Views: {{ paste.views }}
    <a href="/{{ paste.pasteid }}">{{ paste.title }}</a>
    <br>
{% endfor %}
</body>
</html>