<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='pastes.css') }}">
    <script type="text/javascript" src="/static/check.js"></script>
    <title>{{ title }}</title>
</head>
<body>
{% include "navigation.html" %}
<a href="/raw/{{ paste_id }}">View raw</a> | Paste:
<br><br>
<div>{{ content }}</div>
<br><br>
Created by:
<br><br>
<a href="/u/{{ username }}">{{ username }}</a>
<br><br>
Total views: {{ views }}
{% if session.username == username %}
    <br><br>
    <form action="/{{ paste_id }}" method="POST" onsubmit="return deleteConfirm()">
        <input type="submit" value="Delete">
    </form>
{% endif %}
</body>
</html>