<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='prism.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='toolbar.css') }}">
    <title>{{ data.title }}</title>
</head>
<body>
<script src="/static/prism.js"></script>
<script>let views = {{ data.views }};
let creator = "{{ data.username }}";
let date = "{{ data.time.strftime("%d/%m/%Y, %H:%M:%S") }}"</script>
{% include "navigation.html" %}
<br>
<pre class="line-numbers" data-src="/raw/{{ paste_id }}" data-download-link><code
        class="language-{{ data.syntax }}">
{{ data.paste }}
</code></pre>
{% if session.username == data.username %}
    <br><br>
    <form action="/{{ paste_id }}" method="POST" onsubmit="return deleteConfirm()">
        <input type="submit" value="Delete">
    </form>
{% endif %}
<script src="/static/toolbar.js"></script>
</body>
</html>