<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit profile</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
{% include "navigation.html" %}
<div class="accounts">{% if error %}
    Error:<br>{{ error }}
    <br><br>
{% endif %}
    Change profile picture:<br><br>
    <form action="/u/picture/{{ username }}" method="POST" enctype="multipart/form-data">
        File: <input type="file" name="file">
        <p>
            <input type="submit" value="Send">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>
</div>

</body>
</html>