<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ username }}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
{% include "navigation.html" %}
<div class="container">
    <h1>{{ username }}</h1><br>
    {% if session.username == username %}
        <form action="/u/{{ username }}" method="POST">
            <input type="submit" name="picture" value="Change profile picture" style="margin-left: 20px;">
            <input type="submit" name="about" value="Edit profile info">
        </form>
    {% endif %}
    <div>
        <img src="data:image/jpeg;base64,{{ pic }}" alt="">
        <br><br>
        <pre>{{ data.about }}</pre>
    </div>
    <br><br>
    Users public pastes:<br><br>
    <div class="pastes">{% for paste in pastes %}
        Views: {{ paste.views }}
        <a href="/{{ paste.paste_id }}">{{ paste.title }}</a>
        <br>
    {% endfor %}<br><br></div>

</div>
</body>
</html>