<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
{% include "navigation.html" %}
{% if session.username == username %}
    <form action="/u/{{ username }}" method="POST">
        <input type="submit" name="picture" value="Change profile picture">
        <input type="submit" name="about" value="Edit profile info">
    </form>
{% endif %}
<h1>{{ username }}</h1>
User about:
<br>
<pre>{{ data.about }}</pre>
<br><br>
<img src="data:image/jpeg;base64,{{ pic }}" alt="">
<br><br>
Users public pastes:<br>
{% for paste in pastes %}
    Views: {{ paste.views }}
    <a href="/{{ paste.paste_id }}">{{ paste.title }}</a>
    <br>
{% endfor %}
</body>
</html>