<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register to PasteBag</title>
    <script type="text/javascript" src="/static/check.js"></script>
</head>
<body>
Got account already? Login
<a href="/login">here</a>
<hr>
{% if error %}
    {{ error }}
{% endif %}
<form action="/register" method="POST" onclick="return check(this)">
    <p>Username:<br>
        <label>
            <input type="text" name="username">
        </label></p>
    <p>Password:<br>
        <label>
            <input type="password" name="password">
        </label></p>
    <input type="submit" value="Register">
</form>
</body>
</html>