<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register to PasteBag</title>
    <script type="text/javascript" src="/static/check.js"></script>
</head>
<body>
{% include "navigation.html" %}
<div class="accounts"><h1>Got account? Login
    <a href="/login">here</a></h1>
    <br>
    {% if error %}
        {{ error }}<br>
    {% endif %}
    <form action="/login" method="POST" onsubmit="return check(this)">
        <p>Username:<br>
            <label>
                <input type="text" name="username">
            </label></p>
        <p>Password:<br>
            <label>
                <input type="password" name="password">
            </label></p>
        <input type="submit" value="Log in">
    </form>
</div>
</body>
</html>